{% extends '_components/page-builder-block-layout' %}

{% set blockClass = [
    'example-block',
] %}

{% set containerClass = [
] %}

{% block blockContent %}

    <h1>
        {{ block.headerText }}
    </h1>


{% endblock %}