{% extends '_components/page-builder-block-layout' %}

{% set blockClass = [
    'block-header',
] %}

{% set containerClass = [
] %}

{% block blockContent %}

    <div class="block-header__header">
        {{ entry.sectionHeader.render() }}
    </div>

{% endblock %}