{% extends '_components/page-builder-block-layout' %}

{% set blockClass = [
    'block-richText',
] %}

{% set containerClass = [
] %}

{% block blockContent %}

    {{ entry.sectionHeader.render({
        class: 'block-richText__header',
    }) }}

    <div class="block-richText__content">
        {{ entry.textContent }}
    </div>

{% endblock %}

{% css %}
.block-richText__content{
    margin: 0px auto;
    max-width: 800px;
}
{% endcss %}