<div class="link-button {{ class ?? null }}">
    <a href="{{ url ?? null }}" class="link-button__link" {% if tagret ?? null %}target="{{ target }}"{% endif %}>
        {{ label ?? null }}
    </a>
</div>