<nav class="nav-top-desktop">
    <ul class="nav-top-desktop__links">
        {% for link in links %}
            {% if link and link.url %}
            <li class="nav-top-desktop__single">
                {%  set active = link.url == craft.app.request.absoluteUrl %}
                {{ tag('a', {
                    href: link.url,
                    target: link.target ? '_blank' : null,
                    class: [
                        'nav-top-desktop__link',
                        active ? 'nav-top-desktop__link--active',
                    ],
                    text: link.label,
                }) }}
            </li>
            {% endif %}
        {% endfor %}
    </ul>
</nav>

{% css %}
.nav-top-desktop__links{
    display: flex;
    gap: 2rem;
}
.nav-top-desktop__link{
    font-weight: 500;
    font-size: 1rem;
    position: relative;
}
.nav-top-desktop__link--active{
    text-decoration: underline;
}
{% endcss %}